@charset "UTF-8";
/*
Estilos de la pagina Index.
Aqui se definen todos los estilos de los tags que vayan dentro del main
*/
h2{
	color: var(--contraste);
	margin-bottom: 5px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

form {
  width: 45%; /* Ajusta según sea necesario */
  background-color: var(--principalMuyClaro);
  padding:15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--texto);
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--principal);
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--principalClaro);
}

/* Estilos para el segundo formulario */
form:nth-child(2) {
  width: 45%; 
}

input[type="submit"] {
  margin-bottom: 0;
}